@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status" style="color: @countColor;">Current count: @currentCount</p>

@* 課題1
<button class="btn btn-primary" @onclick="IncrementCount"></button>
<button class="btn btn-primary" @onclick="SubstractCount"></button> *@
<RadzenButton Click=IncrementCount Icon="add" Text="足す" ButtonStyle="Radzen.ButtonStyle.Secondary"></RadzenButton>
<RadzenButton Click=SubstractCount Icon="remove" Text="引く" ButtonStyle="Radzen.ButtonStyle.Primary"></RadzenButton>


@code {
    private int currentCount = 0;
    private string countColor = "black";

    private void IncrementCount()
    {
        currentCount++;
        SetCountColor();
    }
    private void SubstractCount()
    {
        currentCount--;
        SetCountColor();
    }
    /// <summary>
    /// 1~5の場合に文字色を赤色に設定する。それ以外は黒色のままとする。
    /// </summary>
    private void SetCountColor()
    {
        if (currentCount >= 1 && currentCount <= 5)
        {
            countColor = "red";
        }
        else
        {
            countColor = "black";
        }
    }
}
